/* src/styles/App.css */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    min-height: calc(100vh - 120px);
    /* Adjusting for header and footer */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.app {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    main {
        padding: 20px 15px;  /* Slightly increased horizontal padding */
        margin: 0 auto;       /* Center content */
        max-width: 100%;      /* Ensure full width without overflow */
    }
    
    .app {
        padding: 0 10px;      /* Add padding to prevent overflow */
    }
}